---
import PageLayout from "../layouts/PageLayout.astro";
import ApplicationTracker from "../components/islands/ApplicationTracker";
---

<PageLayout title="Application Tracker | JobPulse">
    <section class="min-h-[80vh] py-16 px-6">
        <div class="mx-auto max-w-[1440px]">
            <ApplicationTracker client:load />
        </div>
    </section>
</PageLayout>
